<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
      <div class="container">
      <a class="navbar-brand" routerLink="/">Original Price</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/log-history">Log History</a>
            </li>
        </ul>
      </div>
    </div>
    </nav>
  </header>

