

<div class="row" *ngIf="!logHistory">
    <div class="col-sm-12">
      <app-loader></app-loader>
    </div>
</div>




<div class="row" *ngIf="logHistory?.length>0">
    <div class="col-sm-12">
        <h5><strong>Mongodb Startup History ({{logHistory?.length}})</strong></h5>
        <table class="table table-hover table-dynamic">
            <thead>
              <tr>
                <th>Id</th>
                <th>Host Name</th>
                <th>Start time</th>
                <th>Start Time Local</th>
                <th class="textright">Command Line</th>
                <th class="textright">Pid</th>
                <th class="textright">Build Info</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let log of logHistory; let i = index;">
                  <td>{{i+1}}</td>
                  <td>{{log.hostname}}</td>
                <td>{{log.startTime|date:'dd-MMM-yyyy HH:mm:ss'}}</td>
                <td>{{log.startTimeLocal}}</td>
                <td class="textright">{{log.cmdLine}}</td>
                <td class="textright">{{log.pid.toFixed(8)}}</td>
                <td class="textright">{{log.buildinfo}}</td>
               </tr>
            </tbody>
          </table>
    </div>
</div>




